# Compiled Object files
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.a
*.lib

# Debug Symbols
*.pdb

# Executables
*.exe
iota_test

# DUB
.dub
docs.json
__dummy.html
docs/

# Code coverage
*.lst
iota_audiotest
iota_miditest
